<div class="event-container">
    <div class="image-container">
        <img src="/images/About-img.png" alt="About Us Image">
    </div>
    <div class="text-container">
        <h2>About Me </h2>
        <p>Hello Everyone, I believe in self love and that make me to follow my own desires. The desire to write my thoughts on social-media and meet new people frequently and always keep record of my doings. I want to document my whole life and write my learnings, failures and my feelings.</p>
        <p>Most beatiful thing is that everyday we meet new people, we experience whole 86,400 seconds a day. And each second we have got different thoughts and opinions about ourselves, our freinds, our career, our past and the list never ends.</p>
        
    </div>
    <div class="latest-events">
    <ul class="event-ul">
        <% data.forEach(event => { %>
         
        
        <li>
            <a href="/event/<%= event._id %>" >
                <span><%= event.title %></span>
                <span class="event-list__date"><%= event.happenedAt.toDateString() %></span>
            </a>
        </li>
        <% }) %>




    </ul>
</div>
</div>