<div class="author">
    <h1 class="author__heading">
        Hey, I am Komal Verma!!
    </h1>
</div>
<img src="/images/profile_img.jpeg" alt="Book image" class="book-image" height="528" width="981"/>
<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
    <ul class="article-ul">
        <% data.forEach(post => { %>
         
        
        <li>
            <a href="/post/<%= post._id %>" >
                <span><%= post.title %></span>
                <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
            </a>
        </li>
        <% }) %>




    </ul>
    <a href="#" class="pagination">&lt; View Older Posts</a>
</section>